<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Thông Tin Khách Hàng</h3>
    </div>
    <div class="col-12">
      <form class="form-group" [formGroup]="viewCustomerForm">
        <div class="form-group row">
          <label for="idCs" class="col-2">ID <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="idCs" formControlName="id">
        </div>
        <div class="form-group row">
          <label for="name" class="col-2">Họ Tên <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="name" formControlName="name">
        </div>
        <div class="form-group row">
          <label class="col-2">Giới Tính <span class="text-danger">*</span></label>
          <div class="col-10">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="male" name="gender" value="1" formControlName="gender">
              <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="female" name="gender" value="2" formControlName="gender">
              <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="lbgt" name="gender" value="0" formControlName="gender">
              <label class="form-check-label" for="lbgt">LBGT</label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="idCard" class="col-2">CMND <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="idCard" formControlName="idCard">
        </div>
        <div class="form-group row">
          <label for="email" class="col-2">Email <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="email" formControlName="email">
        </div>
        <div class="form-group row">
          <label for="phone" class="col-2">Số Điện Thoại <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="phone" formControlName="phone">
        </div>
        <div class="form-group row">
          <label for="address" class="col-2">Địa Chỉ <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="address" formControlName="address">
        </div>
        <div class="form-group row">
          <label for="dayOfBirth" class="col-2">Ngày Sinh <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="dayOfBirth" formControlName="dateOfBirth" type="date">
        </div>
        <div class="form-group row ">
          <label for="type" class="col-2">Type <span class="text-danger">*</span></label>
          <input class="form-control col-10 " id="type" formControlName="idTypeCustomer" type="text">
        </div>
        <div class="form-group row">
          <span class="col-2"></span>
          <a class="btn btn-secondary" routerLink="/">Đóng</a>
        </div>
      </form>
    </div>
  </div>
</div>
