<div class="container-fluid">
<h1>Student List</h1>
  <div class="d-flex">
    <input type="text" class="form-control mr-4" [(ngModel)]="nameSearch" style="width: 400px;height: 50px" placeholder="Search" height="40px">
    <button class="btn btn-outline-danger w-25" (click)="search()">Search</button>
  </div>
  <a class="btn btn-primary" routerLink="create">Create</a>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Mark</th>
    <th>Avatar</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name | titlecase}}</td>
    <td>{{student.age}}</td>
    <td>{{student.address}}</td>
    <td>{{student.mark}}</td>
    <td>{{student.avatar}}</td>
    <td *ngIf="student.mark >= 5" [ngStyle]="{'color':'red'}">Pass</td>
    <td *ngIf="student.mark < 5" [ngStyle]="{'color':'blue'}">Fail</td>
    <td>
      <a class="btn btn-warning" [routerLink]="['view',student.id]">View</a> &nbsp;
      <a class="btn btn-warning">Edit</a> &nbsp;
      <button class="btn btn-danger" (click)="delete(student.id,student.name)">Delete</button>
    </td>
  </tr>
</table>

</div>
