<div class="container-fluid">
<h1>Student List</h1>
  <a class="btn btn-primary" routerLink="create">Create</a>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Address</th>
    <th>Mark</th>
    <th>Avatar</th>
    <th>Result</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name | titlecase}}</td>
    <td>{{student.age}}</td>
    <td>{{student.address}}</td>
    <td>{{student.mark}}</td>
    <td>{{student.avatar}}</td>
    <td *ngIf="student.mark >= 5" [ngStyle]="{'color':'red'}">Pass</td>
    <td *ngIf="student.mark < 5" [ngStyle]="{'color':'blue'}">Fail</td>
    <td>
      <a class="btn btn-warning" [routerLink]="['view',student.id]">View</a> &nbsp;
      <a class="btn btn-warning">Edit</a> &nbsp;
      <a class="btn btn-danger">Delete</a>
    </td>
  </tr>
</table>

</div>
